*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: rgb(236, 235, 235);
  font-weight: 500;
  font-family: Montserrat;
  background-color: rgb(240, 240, 240);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

/* pc */
@media (max-width: 1057px) {
  ._container {
    max-width: 970px;
  }
}
/* tablet */
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

/* mobile */

@media (max-width: 767.98px) {
  ._container {
    max-width: 750px;
  }
}

/* mobile small */

@media (max-width: 479.98px) {
  ._container {
    max-width: none;
  }
}

/* ----------------- header ------------------- */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
._container {
}
.header__logo {
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: rgb(85, 85, 85);
}
@media (max-width: 479.98px) {
  .logo {
    font-size: 16px;
  }
}

.header_menu {
  margin: 0px 0px 0px 300px;
}

@media (max-width: 991.98px) {
  .header_menu {
    margin: 0px 0px 0px 200px;
  }
}

@media (max-width: 767.98px) {
  .header_menu {
    margin: 0px 0px 0px 100px;
  }
}

@media (max-width: 479.98px) {
  .header_menu {
    margin: 0px 0px 0px 70px;
  }
}
.menu {
  padding: 5px 0;
}
.menu_list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.menu__item {
}
.menu__link {
  color: rgb(163, 163, 163);
  font-size: 18px;
  font-weight: 600;
  line-height: 171%;
  transition: all 1s ease 0s;
}

@media (max-width: 2257px) {
  .menu__link {
    font-size: 20px;
  }
}

@media (max-width: 991.98px) {
  .menu__link {
    font-size: 16px;
  }
}

@media (max-width: 479.98px) {
  .menu__link {
    font-size: 14px;
  }
}
.menu__link:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
  font-weight: 700;
  transition: all 3s ease 0s;
}

/* --------------- main =--------------- */
.main {
  flex: 1 1 auto;
}

.main_container {
}
._container {
}

.main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(85, 85, 85);
}

.main_body {
}
.main_carts {
  margin-top: 50px;
}

.carts_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(85, 85, 85);
}
.carts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.carts__items {
}
.items {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid rgb(69, 70, 69);
  box-shadow: 0px 13px 19px #6b6b6b;
  border-radius: 20px;
}

.items__link {
  color: inherit;
}

.items__link:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
  font-weight: 700;
  transition: all 3s ease 0s;
}

.items__img {
}
._ibg {
}
.items__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: rgb(163, 163, 163);
}
.items__pirce {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0px;
  color: rgb(85, 85, 85);
}

/* ----------------------- footer ---------------------- */

.footer {
  padding: 30px 0;
}

.footer_container {
}
._container {
}
.footer_body {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
}
.footer_contact {
}
.contact {
}
.contact__items {
  display: flex;
  flex-direction: column;
}
.contact__items-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   margin: 20px 0px; */
}
.items-block__number {
}
.items-block_phone {
  color: rgb(163, 163, 163);
  transition: all 1s ease 0s;
}

.items-block_phone:hover {
  text-decoration: underline;
  color: white;
  font-weight: 700;
  transition: all 3s ease 0s;
}

.items-block__links {
  display: flex;
}
.contact__link {
  margin-top: 20px;
  cursor: pointer;
}

.contact__link:not(:last-child) {
  margin-right: 30px;
}
